body {
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #ff9800;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
}